/* Navbar */

.navbar {
    min-height: 50px;
    margin-bottom: 0;
    border: 0 solid transparent;
    top: 2em;
    left: 1em;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(248, 248, 248, 0) 100%);
    box-shadow: none;
}

.title-font {
    font-family: 'Boogaloo', cursive;
    font-size: 40px;
}

/*@font-face {
    font-family: 'ChalkboardSE';
    src: url('/fonts/ChalkboardSE-Regular.ttf');
}

body {
    font-family: 'ChalkboardSE-Regular', cursive;
}*/


ul.nav.navbar-nav.title-font.logo {
    color: #fff;
    background-image: linear-gradient(to bottom, #47A7F7 0%, #47A7F7 100%);
    box-shadow: 3px 3px 6px 0 rgb(39, 39, 39);
    border-radius: 2px;
}

.navbar-default .navbar-nav>.active>a {
    color: #fff;
    background-image: linear-gradient(to bottom, #47A7F7 0%, #47A7F7 100%);
    box-shadow: 3px 3px 6px 0 rgb(39, 39, 39);
    border-radius: 2px;
}

.navbar-nav>li>a {
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

a.sign-btn {
    padding: 5px 16px 5px 16px!important;
    margin-left: 10px;
    color: #fff;
    background-image: linear-gradient(to bottom, #47A7F7 0%, #47A7F7 100%);
    box-shadow: 3px 3px 6px 0 rgb(39, 39, 39);
    border-radius: 2px;
    font-size: 16px;
    font-family: 'ChalkboardSE-Regular', cursive;
    cursor: pointer;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

@media (min-width: 768px) {
    .navbar-right {
        margin-right: 15px;
    }
}

.navbar-brand {
    padding: 0;
}

img.logo {
    width: 2em;
    position: absolute;
    top: -15px;
    margin-left: 5px;
}

a.text-logo {
    text-align: left;
    width: 7em;
    height: 1.4em;
}


/* Login - Modal */

.login-modal {
    margin-top: 10em;
}


/* Home  */

.home {
    background-image: url(/img/home-background.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    height: 10em;
}

.row {
    height: 600px;
}
