<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-3 policecolor">
                <h3 class="policecolor font">In My Fridge</h3>
                <ul>
                    <li>
                        18 rue de la gare.
                    </li>
                    <li>
                        28240 La Loupe.
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 policecolor">
                <h3 class="policecolor font">Join us !</h3>
                <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>contact@wildcodeschool.fr<br>
                <a href="#"><i class="fa fa-phone-square" aria-hidden="true"></i></a>+33.6.76.24.71.99
            </div>
            <div class="col-xs-12 col-sm-6 policecolor">
                <a>
                    <p class="policecolor"id="ppp"><span class="font">In My fridge</span> &#169 Made by Michel Domingos, Sully Neret &#38 Victor CLousier.</p>
                </a>
            </div>
        </div>
    </div>
</footer>
